<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'pynilhaapp/style_home_django.css' %}">
    <title>HOME do Django</title>
  </head>
  <body>
    <header>
        <h1>
            DJANGO
        </h1>
    </header>
    <h2 class="h2_centr_pag_home" >
        Projetos Estudados em Django
    </h2>
    <ul>
      <li>
        <p>Projeto <strong>PYNILHA</strong>: Controlar e Dominar suas Finanças </p>
        <a href="/pynilhaapp">CONTINUAR</a>
      </li>
      <li>
        <p>ADMIN Django: Administração do Django</p>
        <a href="/admin">CONTINUAR</a>
      </li>
    </ul>
  </body>
</html>